<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linchaolong.android.imagepicker.demo">

  <uses-permission android:name="android.permission.INTERNET" />
  <!-- 仅用与测试, 项目中不要使用该权限, Google Play不允许 -->
  <uses-permission
      android:name="android.permission.QUERY_ALL_PACKAGES"
      tools:ignore="QueryAllPackagesPermission" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:name=".MyApplication"
      android:theme="@style/AppTheme"
      tools:targetApi="tiramisu">
    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".FragmentTestActivity">
    </activity>

    <!-- ImagePicker 相关配置 -->
    <activity android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
        android:theme="@style/Base.Theme.AppCompat"/>

  </application>

</manifest>